1. Print cookies and milk are a great dessert.

In [75]:
print("Cookies and milk are a great dessert.")

Cookies and milk are a great dessert.

2. Print out your favorite color and above the code comment out what you are doing.

In [76]:
# I am printing out my favorite color.
print("Black")

Black

3. Print out your favority color again and add an in-line comment.

In [77]:
print("Black") #This is my favorite color.

Black

4. Print the sumation of numbers 1 to 10

In [78]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(sum(numbers))

55

5. Print what 6 to the 7th power is.

In [79]:
print(6**7)

279936

6. Print the remainder of 100 divided by 11.

In [80]:
print(100%11)

1

7. What is the result of "Python" + "1"

In [81]:
print('Python'+'1')

Python1

8. Print out 100 divided by 5

In [82]:
print(100/5)

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [83]:
print(10/4)
print(10//4)
print("'10/4' will give you a remainder because it is performing division, while '10//4' is performing floor division which only produces whole numbers.  ")

2.5
2
'10/4' will give you a remainder because it is performing division, while '10//4' is performing floor division which only produces whole numbers.

10. Create a variable named foo that stores a string value.

In [84]:
foo = str('fooooooo')

11. Print foo variable

In [20]:
print(foo)

fooooooo

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [85]:
height = 64
print(f"I am 5 foot 4 inches, which is equivalent to {height} inches.")

I am 5 foot 4 inches, which is equivalent to 64 inches.

13. Use the last code, but now print it using a formatted string.

In [86]:
print(f"I am 5 foot 4 inches, which is equivalent to {height} inches.")

I am 5 foot 4 inches, which is equivalent to 64 inches.

14. Concate two strings together using variables and print out the result

In [89]:
firstThreeLetters = 'Nat'
remainingLetters = 'asha'
print((firstThreeLetters)+(remainingLetters))

Natasha

15. Use the two different quotes in a string and print out the sentence

In [90]:
print("I love food" ", which is another reason I workout so much!")

I love food, which is another reason I workout so much!

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [97]:
print("Hello World!" '\n' *7,)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

17. What is the result of "apple" > "Apple"

In [98]:
print("apple" > "Apple")

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [99]:
print((25*54) > (33*33))

True

19. What is the result of of 123 == “123”?

In [68]:
print("It produces an error because we are trying to compare an integer to a string.")

It produces an error because we are trying to compare an integer to a string.

20. Print out a boolean table for OR using two variables
(hint: use not operator)

In [100]:
A = 30
B = 15
print(A != B)

True